body {
	background-color: #F8F8FF !important;
}

.remove-bottom-margin ol {
	margin-bottom: 0;
}

.dark-bg {
	background-color: #1f1f1f !important;
}

.btn-gray, .bg-gray, .list-group-item-gray {
	background-color: #262626 !important;
}

.pagination-disabled span, .pagination-disabled a {
	background-color: transparent !important;
}

.loader-container {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: fixed;
	z-index: 1;
	animation: loading-fade 0.2s 1 linear;
}

.loader-container-dark {
	background: rgb(0, 0, 0);
}

.loader-container-light {
	background: rgb(255, 255, 255);
}

.loading {
	animation: loading-anim 1.2s infinite linear both;
	opacity: 1;
}

.loading-dark {
	color: white;
}

.loading-light {
	color: black;
}

.front {
	color: white;
	text-align: center;
}

.truncate-text {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

@keyframes loading-anim {
	0%, 100% {
		opacity: 0.5;
	}
	50% {
		opacity: 1;
	}
}

@keyframes loading-fade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
