.guild-picture {
	border-radius: 15%;
	width: 24px;
	margin-right: 6px;
}

.nowPlaying {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.nowPlaying-value-left {
	text-align: left;
}

.nowPlaying-value-right {
	text-align: right;
}

.status {
	display: flex;
	flex-direction: row;
}

.status-value-right {
	margin-left: auto;
}

.volume {
	display: flex;
	flex-direction: row;
	align-items: center;
	max-width: 200px;
}

.volume-elements {
	display: flex;
	align-items: center;
}

.button-wrap .btn {
	margin-bottom: 5px;
}
